.biografia{
    display: flex;
    padding: 40px;
    gap: 50px;
    height: 700px;
    justify-content: center;

}
.biografia img{
  border-radius: 10px;
  height: 450px;
}
.boigrafia__info{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.biografia__info__trabajos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
