.tarjetaCapitulo{
    width: 300px;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tarjetaCapitulo img{
 width: 100%;
}

.tarjetaCapitulo__info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 5px;
}
.tarjetaCapitulo__info h1 {
   font-size: 18px;
    }
    .tarjetaCapitulo__info span {
        font-size: 14px;
        padding: 5px;
         }