.tarjetaCapitulo{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.tarjetaCapitulo__info {
   display: flex;
   flex-direction: column;
   padding-left: 10px;
   }
.tarjetaCapitulo__info h1{
 color: white;
 font-size: 15px;
 
}
.tarjetaCapitulo__info span{
    color: white;
    font-size: 12px;
   }