@media screen and (max-width: 1000px) {
 .tarjetaSerie{
    width: 280px;
 }


 .detalle__info__description{
   width: 500px;
 }
.tarjetaActor img{
   width: 20px;
}

.repartoActores__tarjetas{
   flex-wrap: wrap;
   width: 50%;
}
}
